<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.wikiMovies.controller.Login_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>com.wikiMovies.controller.Usuario_controller</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>WikiGenero</servlet-name>
        <servlet-class>com.wikiMovies.controller.WikiGenero_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Favoritos</servlet-name>
        <servlet-class>com.wikiMovies.controller.Favoritos_controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/doLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/findAllUser</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/finUserByID</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>WikiGenero</servlet-name>
        <url-pattern>/createWiki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WikiGenero</servlet-name>
        <url-pattern>/updateWiki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WikiGenero</servlet-name>
        <url-pattern>/findAllWiki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WikiGenero</servlet-name>
        <url-pattern>/finWikiByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WikiGenero</servlet-name>
        <url-pattern>/deleteGenr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoritos</servlet-name>
        <url-pattern>/createFavorito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoritos</servlet-name>
        <url-pattern>/updateFavorito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoritos</servlet-name>
        <url-pattern>/findAllFav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoritos</servlet-name>
        <url-pattern>/findFavID</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Favoritos</servlet-name>
        <url-pattern>/deleteFavorite</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
